[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
lxml = "*"
beautifulsoup4 = "*"
pylint = "*"
selenium = "*"
pymongo = "*"
pytest = "*"
apache-airflow = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.9"
